<footer class="footer">
  <p>Created by <a href="https://github.com/boywithkeyboard">@boywithkeyboard</a></p>

  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 914.2 204.4"><g clip-path="url(#prefix__clip0_2_8)"><path fill-rule="evenodd" clip-rule="evenodd" d="M93.2 34a69.78 69.78 0 00-21.6-3.4 71.6 71.6 0 000 143.2 69.786 69.786 0 0021.6-3.4v6.8h50V2.2h-50V34zM71.6 80.6A21.6 21.6 0 1150 102.2a21.511 21.511 0 0121.6-21.6zM233.2 199v-50h-5a21.477 21.477 0 01-15.514-6.286A21.473 21.473 0 01206.4 127.2h93.4v-25a71.602 71.602 0 00-71.6-71.6 71.602 71.602 0 00-71.6 71.6v25a71.57 71.57 0 0071.6 71.8h5zM446.6 44h-50v39.4L313.2 0v160.6h50v-39.4l83.4 83.2V44zm85-13.4a71.602 71.602 0 00-70.224 85.568 71.598 71.598 0 00129.757 25.811A71.598 71.598 0 00603.2 102.2a71.535 71.535 0 00-20.949-50.65A71.534 71.534 0 00531.6 30.6zm0 50a21.598 21.598 0 0121.185 25.814 21.604 21.604 0 01-16.971 16.971 21.603 21.603 0 01-22.174-9.185 21.602 21.602 0 01-3.64-12 21.496 21.496 0 016.3-15.3 21.506 21.506 0 0115.3-6.3zm104.8 40a28.304 28.304 0 00-26.065 17.516 28.305 28.305 0 006.154 30.795 28.297 28.297 0 0030.795 6.154A28.306 28.306 0 00664.8 149a28.506 28.506 0 00-28.4-28.4zm47.2-93.4v133.4h50v-58.4a21.808 21.808 0 0121.8-21.6h3.2v-50h-3.2a70.11 70.11 0 00-21.8 3.4v-6.8h-50zm164 171.8v-50h-5a21.477 21.477 0 01-15.514-6.286A21.473 21.473 0 01820.8 127.2h93.4v-25a71.602 71.602 0 00-71.6-71.6 71.6 71.6 0 00-71.6 71.6v25a71.574 71.574 0 0071.6 71.8h5z"/></g><defs><clipPath id="prefix__clip0_2_8"><path d="M0 0h914.2v204.4H0z"/></clipPath></defs></svg>

  <nav>
    <a href="https://github.com/boywithkeyboard/deno.re#usage">Docs</a>
    <a href="https://github.com/boywithkeyboard/deno.re#terms-of-use">Terms of Use</a>
  </nav>
</footer>

<style>
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  @media only screen and (max-width: 650px) {
		.footer {
      flex-direction: column;
      justify-content: center;
    }

    .footer svg {
      margin-bottom: 15px;
    }
	}

  .footer svg {
    width: 100px;
  }

  .footer svg * {
    fill: var(--text);
  }

  .footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  @media only screen and (max-width: 800px) {
		.footer nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
	}

  .footer p {
    font-size: 16px;
    color: var(--textLight);
    transition: .2s;
    text-decoration: none;
  }

  .footer p a {
    font-size: 16px;
    color: var(--text);
    transition: .2s;
    text-decoration: underline;
  }

  .footer p a:hover {
    color: var(--textLight);
    text-decoration: none;
  }

  .footer nav a {
    font-size: 16px;
    color: var(--textLight);
    transition: .2s;
    text-decoration: none;
  }

  .footer nav a:hover {
    color: var(--text);
    text-decoration: underline;
  }
</style>
